body{
   background-image: url('back2.png');
   background-color: blue;
   background-size: cover;
}
form{
    margin-top:3cm ;
    margin-left: 9cm;
    padding-top: 0.5cm;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    height:9cm;
    width:14cm;
    border-radius: 10%;
}
.container{
    text-align: center;
    
}
#temp{
    margin-right: 80px;
    width: 80px;
    border-radius: 10%;
    border-color: blue;
    height: 0.8cm;

}
select{
    margin-top: 10px;
    margin-left: 43px;
    border-radius: 10%;
    border-color: blue;
    box-shadow: 0cm;
    height: 1cm;
}
button{
    margin-top: 1cm;
    margin-left: 0cm;
    margin-bottom: 1cm;
    background-color: rgb(51, 17, 240);
    color:white;
    width: 4cm;
    height: 1cm;
    border-radius: 10%;
}
#convert{
    margin-top: 1cm;
}

h7{
    margin-right: 5cm;
}

